<!doctype html>
<html>
<title>lab04</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/google_css_Raleway.css">
<link rel="stylesheet" href="../static/nice.css">
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">Page : {{ nowis }}</div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">La <i>French Riviera</i></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    <b>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></b>
  </div>
</div>

</body>
</html>
